<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="~/mediumish-html/assets/img/favicon.ico">
<title>Mehmet Efe Erbaş</title>
<!-- Bootstrap core CSS -->
<link href="~/mediumish-html/assets/css/bootstrap.min.css" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="~/mediumish-html/assets/css/mediumish.css" rel="stylesheet">