<div class="footer">
	<p class="pull-left">
		Copyright &copy; 2024 blog.mefeerbas.com
	</p>
	<p class="pull-right">
		Created by <a target="_blank" href="https://www.mefeerbas.com/">mefeerbas</a>
	</p>
	<div class="clearfix">
	</div>
</div>