<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Mehmet Efe Erbaş</h1>
		<p class="lead">
			Bilgisayar Mühendisliği Öğrencisi, Yazılım Geliştirici, Blogger
		</p>
	</div>
</div>