body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url('/mediumish-html/assets/img/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5); /* Beyaz arka plan ve %50 saydamlık */
}
.card-header {
    padding 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Beyaz arka plan ve %50 saydamlık */
}
.color{
    color:mediumvioletred;
}

.form-group button {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
}
.loader {
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid #3498db;
    border-bottom: 9px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 20px auto; /* Ortalamak için */
    display: none; /* Başlangıçta gizle */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

